MediaCollectionAPI/obj/Debug/net9.0/rjsmrazor.dswa.cache.json
MediaCollectionAPI/bin/Debug/net9.0/cs/Microsoft.CodeAnalysis.CSharp.resources.dll
MediaCollectionAPI/bin/Debug/net9.0/cs/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
MediaCollectionAPI/bin/Debug/net9.0/cs/Microsoft.CodeAnalysis.resources.dll
MediaCollectionAPI/bin/Debug/net9.0/cs/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
MediaCollectionAPI/bin/Debug/net9.0/cs/Microsoft.CodeAnalysis.Workspaces.resources.dll
MediaCollectionAPI/bin/Debug/net9.0/de/Microsoft.CodeAnalysis.CSharp.resources.dll
MediaCollectionAPI/bin/Debug/net9.0/de/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
MediaCollectionAPI/bin/Debug/net9.0/de/Microsoft.CodeAnalysis.resources.dll
MediaCollectionAPI/bin/Debug/net9.0/de/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
MediaCollectionAPI/bin/Debug/net9.0/de/Microsoft.CodeAnalysis.Workspaces.resources.dll
MediaCollectionAPI/bin/Debug/net9.0/es/Microsoft.CodeAnalysis.CSharp.resources.dll
MediaCollectionAPI/bin/Debug/net9.0/es/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
MediaCollectionAPI/bin/Debug/net9.0/es/Microsoft.CodeAnalysis.resources.dll
MediaCollectionAPI/bin/Debug/net9.0/es/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
MediaCollectionAPI/bin/Debug/net9.0/es/Microsoft.CodeAnalysis.Workspaces.resources.dll
MediaCollectionAPI/bin/Debug/net9.0/fr/Microsoft.CodeAnalysis.CSharp.resources.dll
MediaCollectionAPI/bin/Debug/net9.0/fr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
MediaCollectionAPI/bin/Debug/net9.0/fr/Microsoft.CodeAnalysis.resources.dll
MediaCollectionAPI/bin/Debug/net9.0/fr/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
MediaCollectionAPI/bin/Debug/net9.0/fr/Microsoft.CodeAnalysis.Workspaces.resources.dll
MediaCollectionAPI/bin/Debug/net9.0/Humanizer.dll
MediaCollectionAPI/bin/Debug/net9.0/it/Microsoft.CodeAnalysis.CSharp.resources.dll
MediaCollectionAPI/bin/Debug/net9.0/it/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
MediaCollectionAPI/bin/Debug/net9.0/it/Microsoft.CodeAnalysis.resources.dll
MediaCollectionAPI/bin/Debug/net9.0/it/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
MediaCollectionAPI/bin/Debug/net9.0/it/Microsoft.CodeAnalysis.Workspaces.resources.dll
MediaCollectionAPI/bin/Debug/net9.0/ja/Microsoft.CodeAnalysis.CSharp.resources.dll
MediaCollectionAPI/bin/Debug/net9.0/ja/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
MediaCollectionAPI/bin/Debug/net9.0/ja/Microsoft.CodeAnalysis.resources.dll
MediaCollectionAPI/bin/Debug/net9.0/ja/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
MediaCollectionAPI/bin/Debug/net9.0/ja/Microsoft.CodeAnalysis.Workspaces.resources.dll
MediaCollectionAPI/bin/Debug/net9.0/ko/Microsoft.CodeAnalysis.CSharp.resources.dll
MediaCollectionAPI/bin/Debug/net9.0/ko/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
MediaCollectionAPI/bin/Debug/net9.0/ko/Microsoft.CodeAnalysis.resources.dll
MediaCollectionAPI/bin/Debug/net9.0/ko/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
MediaCollectionAPI/bin/Debug/net9.0/ko/Microsoft.CodeAnalysis.Workspaces.resources.dll
MediaCollectionAPI/bin/Debug/net9.0/MediaCollectionAPI.deps.json
MediaCollectionAPI/bin/Debug/net9.0/MediaCollectionAPI.dll
MediaCollectionAPI/bin/Debug/net9.0/MediaCollectionAPI.exe
MediaCollectionAPI/bin/Debug/net9.0/MediaCollectionAPI.pdb
MediaCollectionAPI/bin/Debug/net9.0/MediaCollectionAPI.runtimeconfig.json
MediaCollectionAPI/bin/Debug/net9.0/MediaCollectionAPI.staticwebassets.endpoints.json
MediaCollectionAPI/bin/Debug/net9.0/Microsoft.AspNetCore.OpenApi.dll
MediaCollectionAPI/bin/Debug/net9.0/Microsoft.Bcl.AsyncInterfaces.dll
MediaCollectionAPI/bin/Debug/net9.0/Microsoft.Build.Locator.dll
MediaCollectionAPI/bin/Debug/net9.0/Microsoft.CodeAnalysis.CSharp.dll
MediaCollectionAPI/bin/Debug/net9.0/Microsoft.CodeAnalysis.CSharp.Workspaces.dll
MediaCollectionAPI/bin/Debug/net9.0/Microsoft.CodeAnalysis.dll
MediaCollectionAPI/bin/Debug/net9.0/Microsoft.CodeAnalysis.Workspaces.dll
MediaCollectionAPI/bin/Debug/net9.0/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.dll
MediaCollectionAPI/bin/Debug/net9.0/Microsoft.CodeAnalysis.Workspaces.MSBuild.dll
MediaCollectionAPI/bin/Debug/net9.0/Microsoft.EntityFrameworkCore.Abstractions.dll
MediaCollectionAPI/bin/Debug/net9.0/Microsoft.EntityFrameworkCore.Design.dll
MediaCollectionAPI/bin/Debug/net9.0/Microsoft.EntityFrameworkCore.dll
MediaCollectionAPI/bin/Debug/net9.0/Microsoft.EntityFrameworkCore.Relational.dll
MediaCollectionAPI/bin/Debug/net9.0/Microsoft.Extensions.Caching.Abstractions.dll
MediaCollectionAPI/bin/Debug/net9.0/Microsoft.Extensions.Caching.Memory.dll
MediaCollectionAPI/bin/Debug/net9.0/Microsoft.Extensions.Configuration.Abstractions.dll
MediaCollectionAPI/bin/Debug/net9.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
MediaCollectionAPI/bin/Debug/net9.0/Microsoft.Extensions.DependencyInjection.dll
MediaCollectionAPI/bin/Debug/net9.0/Microsoft.Extensions.DependencyModel.dll
MediaCollectionAPI/bin/Debug/net9.0/Microsoft.Extensions.Logging.Abstractions.dll
MediaCollectionAPI/bin/Debug/net9.0/Microsoft.Extensions.Logging.dll
MediaCollectionAPI/bin/Debug/net9.0/Microsoft.Extensions.Options.dll
MediaCollectionAPI/bin/Debug/net9.0/Microsoft.Extensions.Primitives.dll
MediaCollectionAPI/bin/Debug/net9.0/Microsoft.OpenApi.dll
MediaCollectionAPI/bin/Debug/net9.0/Mono.TextTemplating.dll
MediaCollectionAPI/bin/Debug/net9.0/Npgsql.dll
MediaCollectionAPI/bin/Debug/net9.0/Npgsql.EntityFrameworkCore.PostgreSQL.dll
MediaCollectionAPI/bin/Debug/net9.0/pl/Microsoft.CodeAnalysis.CSharp.resources.dll
MediaCollectionAPI/bin/Debug/net9.0/pl/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
MediaCollectionAPI/bin/Debug/net9.0/pl/Microsoft.CodeAnalysis.resources.dll
MediaCollectionAPI/bin/Debug/net9.0/pl/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
MediaCollectionAPI/bin/Debug/net9.0/pl/Microsoft.CodeAnalysis.Workspaces.resources.dll
MediaCollectionAPI/bin/Debug/net9.0/pt-BR/Microsoft.CodeAnalysis.CSharp.resources.dll
MediaCollectionAPI/bin/Debug/net9.0/pt-BR/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
MediaCollectionAPI/bin/Debug/net9.0/pt-BR/Microsoft.CodeAnalysis.resources.dll
MediaCollectionAPI/bin/Debug/net9.0/pt-BR/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
MediaCollectionAPI/bin/Debug/net9.0/pt-BR/Microsoft.CodeAnalysis.Workspaces.resources.dll
MediaCollectionAPI/bin/Debug/net9.0/ru/Microsoft.CodeAnalysis.CSharp.resources.dll
MediaCollectionAPI/bin/Debug/net9.0/ru/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
MediaCollectionAPI/bin/Debug/net9.0/ru/Microsoft.CodeAnalysis.resources.dll
MediaCollectionAPI/bin/Debug/net9.0/ru/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
MediaCollectionAPI/bin/Debug/net9.0/ru/Microsoft.CodeAnalysis.Workspaces.resources.dll
MediaCollectionAPI/bin/Debug/net9.0/Swashbuckle.AspNetCore.Swagger.dll
MediaCollectionAPI/bin/Debug/net9.0/Swashbuckle.AspNetCore.SwaggerGen.dll
MediaCollectionAPI/bin/Debug/net9.0/Swashbuckle.AspNetCore.SwaggerUI.dll
MediaCollectionAPI/bin/Debug/net9.0/System.CodeDom.dll
MediaCollectionAPI/bin/Debug/net9.0/System.Composition.AttributedModel.dll
MediaCollectionAPI/bin/Debug/net9.0/System.Composition.Convention.dll
MediaCollectionAPI/bin/Debug/net9.0/System.Composition.Hosting.dll
MediaCollectionAPI/bin/Debug/net9.0/System.Composition.Runtime.dll
MediaCollectionAPI/bin/Debug/net9.0/System.Composition.TypedParts.dll
MediaCollectionAPI/bin/Debug/net9.0/System.Text.Json.dll
MediaCollectionAPI/bin/Debug/net9.0/tr/Microsoft.CodeAnalysis.CSharp.resources.dll
MediaCollectionAPI/bin/Debug/net9.0/tr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
MediaCollectionAPI/bin/Debug/net9.0/tr/Microsoft.CodeAnalysis.resources.dll
MediaCollectionAPI/bin/Debug/net9.0/tr/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
MediaCollectionAPI/bin/Debug/net9.0/tr/Microsoft.CodeAnalysis.Workspaces.resources.dll
MediaCollectionAPI/bin/Debug/net9.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.resources.dll
MediaCollectionAPI/bin/Debug/net9.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
MediaCollectionAPI/bin/Debug/net9.0/zh-Hans/Microsoft.CodeAnalysis.resources.dll
MediaCollectionAPI/bin/Debug/net9.0/zh-Hans/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
MediaCollectionAPI/bin/Debug/net9.0/zh-Hans/Microsoft.CodeAnalysis.Workspaces.resources.dll
MediaCollectionAPI/bin/Debug/net9.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.resources.dll
MediaCollectionAPI/bin/Debug/net9.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
MediaCollectionAPI/bin/Debug/net9.0/zh-Hant/Microsoft.CodeAnalysis.resources.dll
MediaCollectionAPI/bin/Debug/net9.0/zh-Hant/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
MediaCollectionAPI/bin/Debug/net9.0/zh-Hant/Microsoft.CodeAnalysis.Workspaces.resources.dll
MediaCollectionAPI/obj/Debug/net9.0/apphost.exe
MediaCollectionAPI/obj/Debug/net9.0/MediaCol.972DB175.Up2Date
MediaCollectionAPI/obj/Debug/net9.0/MediaCollectionAPI.AssemblyInfo.cs
MediaCollectionAPI/obj/Debug/net9.0/MediaCollectionAPI.AssemblyInfoInputs.cache
MediaCollectionAPI/obj/Debug/net9.0/MediaCollectionAPI.csproj.CoreCompileInputs.cache
MediaCollectionAPI/obj/Debug/net9.0/MediaCollectionAPI.csproj.FileListAbsolute.txt
MediaCollectionAPI/obj/Debug/net9.0/MediaCollectionAPI.dll
MediaCollectionAPI/obj/Debug/net9.0/MediaCollectionAPI.genruntimeconfig.cache
MediaCollectionAPI/obj/Debug/net9.0/MediaCollectionAPI.MvcApplicationPartsAssemblyInfo.cache
MediaCollectionAPI/obj/Debug/net9.0/MediaCollectionAPI.MvcApplicationPartsAssemblyInfo.cs
MediaCollectionAPI/obj/Debug/net9.0/MediaCollectionAPI.pdb
MediaCollectionAPI/obj/Debug/net9.0/MediaCollectionAPI.sourcelink.json
MediaCollectionAPI/obj/Debug/net9.0/ref/MediaCollectionAPI.dll
MediaCollectionAPI/obj/Debug/net9.0/refint/MediaCollectionAPI.dll
MediaCollectionAPI/obj/Debug/net9.0/rjsmcshtml.dswa.cache.json
MediaCollectionAPI/obj/Debug/net9.0/rpswa.dswa.cache.json
MediaCollectionAPI/obj/Debug/net9.0/staticwebassets.build.endpoints.json
MediaCollectionAPI/obj/Debug/net9.0/staticwebassets.build.json
MediaCollectionAPI/obj/Debug/net9.0/staticwebassets.build.json.cache
MediaCollectionAPI/obj/Debug/net9.0/MediaCollectionAPI.AssemblyInfo.cs
MediaCollectionAPI/obj/Debug/net9.0/MediaCollectionAPI.AssemblyInfoInputs.cache
MediaCollectionAPI/obj/Debug/net9.0/MediaCollectionAPI.AssemblyInfo.cs
MediaCollectionAPI/obj/Debug/net9.0/MediaCollectionAPI.AssemblyInfoInputs.cache
MediaCollectionAPI/obj/Debug/net9.0/MediaCollectionAPI.deps.json
MediaCollectionAPI/obj/Debug/net9.0/MediaCollectionAPI.genpublishdeps.cache
MediaCollectionAPI/obj/Debug/net9.0/PublishOutputs.bc01b5e5d4.txt
MediaCollectionAPI/obj/Debug/net9.0/staticwebassets.publish.endpoints.json
MediaCollectionAPI/obj/Debug/net9.0/staticwebassets.publish.json
MediaCollectionAPI/bin/Debug/net9.0/Microsoft.Extensions.Configuration.dll
MediaCollectionAPI/bin/Debug/net9.0/Microsoft.Extensions.Configuration.FileExtensions.dll
MediaCollectionAPI/bin/Debug/net9.0/Microsoft.Extensions.Configuration.Json.dll
MediaCollectionAPI/bin/Debug/net9.0/Microsoft.Extensions.FileProviders.Abstractions.dll
MediaCollectionAPI/bin/Debug/net9.0/Microsoft.Extensions.FileProviders.Physical.dll
MediaCollectionAPI/bin/Debug/net9.0/Microsoft.Extensions.FileSystemGlobbing.dll
MediaCollectionAPI/obj/Debug/net9.0/MediaCollectionAPI.AssemblyInfo.cs
MediaCollectionAPI/obj/Debug/net9.0/MediaCollectionAPI.AssemblyInfoInputs.cache
MediaCollectionAPI/obj/Debug/net9.0/MediaCollectionAPI.assets.cache
MediaCollectionAPI/obj/Debug/net9.0/MediaCollectionAPI.csproj.AssemblyReference.cache
MediaCollectionAPI/obj/Debug/net9.0/PublishOutputs.46f58a2928.txt
MediaCollectionAPI/obj/MediaCollectionAPI.csproj.nuget.dgspec.json
MediaCollectionAPI/obj/project.assets.json
MediaCollectionAPI/obj/project.nuget.cache
MediaCollectionAPI/obj/project.packagespec.json
MediaCollectionAPI/obj/rider.project.model.nuget.info
MediaCollectionAPI/obj/rider.project.restore.info
MediaCollectionAPI/obj/Debug/net9.0/MediaCollectionAPI.AssemblyInfo.cs
MediaCollectionAPI/obj/Debug/net9.0/MediaCollectionAPI.AssemblyInfoInputs.cache
MediaCollectionAPI/obj/Debug/net9.0/MediaCollectionAPI.assets.cache
MediaCollectionAPI/obj/Debug/net9.0/MediaCollectionAPI.csproj.AssemblyReference.cache
MediaCollectionAPI/obj/MediaCollectionAPI.csproj.nuget.dgspec.json
MediaCollectionAPI/obj/project.assets.json
MediaCollectionAPI/obj/project.nuget.cache
MediaCollectionAPI/obj/project.packagespec.json
MediaCollectionAPI/obj/rider.project.model.nuget.info
MediaCollectionAPI/obj/rider.project.restore.info
